### TASK-1
Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [1]:
a=int(input())

45

In [2]:
b=int(input())

34

In [3]:
type(a)

int

In [4]:
if a*b<=1000:
    print(a*b)
else:
        print(a+b)

79

In [77]:
def prd_sum(a,b):
    return a*b if a<=10000 else a+b

In [81]:
prd_sum(45,87)

3915

### TASK-2 
Write a program to remove characters from a string starting from zero up to n and return a new string.
example :
("divyam", 2) so output must be vyam. Here we need to remove first two characters from a string

In [5]:
def split_str(a,n):
    return a[n:]

In [6]:
split_str("divyam",2)

'vyam'

### TASK_4
Write a program to accept a string from the user and display characters that are present at an even index number.

In [7]:
a="aayush"

In [9]:
a[0::2]

'ays'

In [86]:
a[0::3]

'au'

In [13]:
for i in range(len(a)):
    if (i%2==0):
        print(a[i])

a
y
s

### TASK-5

Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

In [25]:
a=[10,20,30,40,50,10]

In [26]:
def firstlast(n):
    if n[0]==n[len(n)-1]:
        return True
    else:
        return False

In [27]:
firstlast(a)

True

### TASK-6

In [21]:
a=[10,20,33,46,55]

In [3]:
n=len(a)
n
i=0

NameError: name 'a' is not defined

In [23]:
for i in range(i,n):
    if a[i]%5==0:
        print (a[i])

10
20
55

### TASK-7

In [4]:
str_x = "Emma is good developer. Emma is a writer"
str_x.count("Emma")

2

# TASK-8

In [8]:

for i in range(6):
        for n in range(i):
                    print(i,end="")
        print()

1
22
333
4444
55555

# TASK-9

In [14]:
x= 1
print(x)
print(type(x))
type(x)


b1 = True
b2 = False
print(type(b2))

1
<class 'int'>
<class 'bool'>

In [15]:
'Day ' +str(1)

'Day 1'

In [17]:
'Aayu' +str('sh')

'Aayush'

In [23]:
print("I am %d years old" %25)

I am 25 years old

In [24]:
name=input("your name is:-")

your name is:-Aayush

In [27]:
print("your name is :-",name)

your name is :- Aayush

In [31]:
list_a = [1,2,3]
list_b = [1,2,3]

print(f"id of list_a = {id(list_a)}")
print(f"id of list_b = {id(list_b)}")
print(f"list_a is list_b = {list_a is list_b}")
print(f"list_a == list_b = {list_a == list_b}")

id of list_a = 1034583928512
id of list_b = 1034610336448
list_a is list_b = False
list_a == list_b = True

In [32]:
alpha = [1, 2, 3]
beta = alpha # an alias for alpha
beta += [4, 5] # extends the original list with two more elements
beta = beta + [6, 7] # reassigns beta to a new
print(alpha)

[1, 2, 3, 4, 5]

In [35]:
str="1213"
print(str[::-1])

3121

# TASK-9

In [64]:
def palindrome_no(orig_no):

    for i in range(0,int(len(orig_no)/2)):
        if orig_no[i]==orig_no[len(orig_no)-i-1]:
            return True
        else:
            return False

In [69]:
n=input("Enter a no.")
c= palindrome_no(n)
if(c):
    print(n,"is a palindrome no")
else:
    print(n,"is not a palindrome no")

Enter a no.123321
123321 is a palindrome no

# TASK-10

In [120]:
list1 = [10, 20, 25, 30, 35]
list2 = [14, 18, 19, 23, 24]
list3=[]
list4=[]
for i in range(len(list1)):
    if list1[i] % 2 != 0:
        list3=list1[i]
        print (list3)
for j in range(len(list2)):
    if list2[j] % 2 == 0:
        list4=list2[j]
        print(list4)

25
35
14
18
24

# TASK-11

In [7]:
# print(' '.join(reversed(string)))

a=input("Enter a no: ")
print(''.join(reversed(a)))

Enter a no: 123445
544321

In [79]:
print(a[::-1],end="   ")

543321

# TASK-12

In [131]:
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print('')

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# TASK-13

In [145]:
#Print downward Half-Pyramid Pattern with Star
for i in range (6):
    for j in range(0,5-i):
        print("*", end=" ")
    print("")

* * * * *
* * * *
* * *
* *
*

# task 14:
#Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

#ex 
#base = 2
#exponent = 5

In [170]:
def exponent(base,exp):
    ex=1
    for i in range(exp):
        ex=ex*base
    return ex

In [175]:
print (exponent(4,4))

256